<form method=POST name=fmMaintDisp12 id=fmMaintDisp12 {$form.attributes}> {$form.hidden}
  <TABLE>  
        <TR>
           <TD><B><h3>{$form.tMsg1.html}<br>Outstanding PM Reports</B></TD>
        </TR>
  </TABLE>
  
  <TABLE>  
        <TR>
           <TD>{$form.htTable.label}</TD>
        </TR>
  </TABLE>
  
  <TABLE> 
     <TR>
        <TD style = "color: red;"><b><h3>{$form.tMsg2.html}</b></TD>
     </TR> 
  </TABLE>
    
  <TABLE> 
        <TR>
           <TD><br></TD>
        </TR> 
        <TR>
           <TD><br></TD>
        </TR> 
        <TR>
           <TD><br></TD>
        </TR>    
        <TR> 
           <TD>{$form.cancel.html}</TD>
	      </TR>
	</TABLE>
</form>
