<form method=POST name=fmMaintDisp8 id=fmMaintDisp8 {$form.attributes}>{$form.hidden}

  <TABLE style = "width: 100%">  
         <TR>
            <TD style = "width: 8%;"><b>{$form.Hardware.label}</b></TD>
            <TD style = "width: 30%;">{$form.Hardware.html}</TD>
            <TD style = "width: 72%;">{$form.MSG.html}</TD>
         </TR>
         <TR>
            <TD><br></TD>
         </TR>
  </TABLE>

  <TABLE>  
         <TR>
            <TD>{$form.htTable.label}</TD>
         </TR>
  </TABLE>
  
  <TABLE style = "width: 100%">
         <TR>
            <TD style = "width: 12%;"><b>{$form.Note.label}</B></TD>
            <TD style = "width: 60%;">{$form.Note.html}</TD>
            <TD style = "width: 28%;"></TD>
         </TR>
  </TABLE>
  
  <TABLE style = "width: 100%">
         <TR>
            <TD style = "width: 12%;"><b>{$form.MaintPerson.label}</b></TD>
            <TD style = "width: 20%;">{$form.MaintPerson.html}</TD>
            <TD style = "width: 68%;">{$form.MSG1.html}</TD>
         </TR>
         <TR>
            <TD style = "width: 12%;"><b>{$form.MaintForeM.label}</b></TD>
            <TD style = "width: 20%;">{$form.MaintForeM.html}</TD>
            <TD style = "width: 68%;">{$form.MSG2.html}</TD>
         </TR>
         <TR>
            <TD style = "width: 12%;"><b>{$form.MaintOpM.label}</b></TD>
            <TD style = "width: 20%;">{$form.MaintOpM.html}</TD>
            <TD style = "width: 68%;">{$form.MSG3.html}</TD>
         </TR>
  </TABLE>

  <TABLE> 
         <TR> 
            <TD><br></TD>
         </TR>
         <TR> 
            <TD>{$form.run.html}</TD>
            <TD>{$form.cancel.html}</TD>
            <TD style = "color: red;"><b>&nbsp;&nbsp;{$form.EMSG.html}</b></TD>
         </TR>
	 </TABLE>
	
</form>
