<script type="text/javascript">
{literal}
var winConfirm = null;
function showConfirm(act,tagnbr,vkey,vsite) {
   if (confirm("Are you sure you want to delete tag number " + tagnbr + "?")) {
       document.getElementById('do').value = 'delete';
       document.getElementById('origtag').value = tagnbr;
       document.getElementById('vkey').value = vkey;
       document.getElementById('vsite').value = vsite;
       document.getElementById('fmPITagListDisp').submit();
   }
}
{/literal}
</script>

<form method=POST name=fmPITagListDisp id=fmPITagListDisp {$form.attributes}>{$form.hidden}
  <INPUT TYPE="hidden" name="origtag" id="origtag" value="not set">
  <INPUT TYPE="hidden" name="vkey" id="vkey" value="not set">
  <INPUT TYPE="hidden" name="vsite" id="vsite" value="not set">
  <TABLE>
      <TR>
         <TD>{$form.htTable.label}</TD>
      </TR>
      <TR>
         <TD><B>{$form.msg.html}</B></TD>
      </TR>
  </TABLE>

  <TABLE style = "width: 100%">
      <TR>
         <TD style = "width: 10%;">{$form.prtlink.html}</TD>
         {if $CanEdit}
             <TD style = "width: 4%;"></TD>
             <TD style = "width: 12%;"><A href='TagPage.php?act=Add&vkey={$vkey}&vsite={$vsite}'>Add New Tag</A>
             <TD style = "width: 4%;"></TD>
             <TD style = "width: 15%;"><A href='RptMenu.php?vkey={$vkey}&vsite={$vsite}'>Report Menu</A></TD>
             <TD style = "width: 4%;"></TD>
             <TD style = "width: 30%;"><a href='PhysicalInventory.php'>Return to Physical Inventory Main Menu</a></TD>
             <TD style = "width: 18%;"></TD>
         {else}
             <TD style = "width: 20%;"></TD>
             <TD style = "width: 15%;"><A href='RptMenu.php?vkey={$vkey}&vsite={$vsite}'>Report Menu</A></TD>
             <TD style = "width: 4%;"></TD>
             <TD style = "width: 30%;"><a href='PhysicalInventory.php'>Return to Physical Inventory Main Menu</a></TD>
             <TD style = "width: 18%;"></TD>
         {/if}
      </TR>
  </TABLE>

</form>
