<form method=POST name=fmPlyDisp id=fmPlyDisp {$form.attributes}> {$form.hidden}

  <TABLE>  
     <TR>
        <TD></TD>
        <TD>{$form.htTable.label}</TD>
        <TD></TD>
     </TR>
  </TABLE>
  <TABLE> 
     <TR>
        <TD><B>{$form.MSG.html}</B></TD>
     </TR> 
  </TABLE>
    
  <TABLE> 
     <TR> 
        <TD>{$form.run.html}</TD>
        <TD>{$form.update.html}</TD>
	      <TD>{$form.set.html}</TD>
	      <TD style = "color: blue;"><B>&nbsp;&nbsp;&nbsp;&nbsp;{$form.MSG2.html}</B></TD>
	   </TR>
	</TABLE>
	
</form>
