
  <form method=POST name=fmPlywall id=fmPlywall {$form.attributes}> {$form.hidden}
  <TABLE>  
     <TR>
        <TD><B><h3>Hoover Treated Wood Products... &nbsp;&nbsp;&nbsp;&nbsp; 
        {$form.RptName.label} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {$form.RptDate.label}
        &nbsp;&nbsp;&nbsp;&nbsp; {$form.RptTime.label}</B></TD>
     </TR>
  </TABLE>
  <TABLE>
     <TR>
        <TD><B>{$form.OrdNum.label}&nbsp;</B></TD>
        <TD>{$form.OrdNum.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.OrdDate.label}&nbsp;</B></TD>
        <TD>{$form.OrdDate.html}</TD>    
     </TR> 
     <TR>         
        <TD><B>{$form.CustName.label}&nbsp;</B></TD>
        <TD>{$form.CustName.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.ShipDate.label}&nbsp;</B></TD>
        <TD>{$form.ShipDate.html}</TD> 
     </TR> 
     <TR>          
        <TD><B>{$form.Company.label}&nbsp;</B></TD>
        <TD>{$form.Company.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.PoNum.label}&nbsp;</B></TD>
        <TD>{$form.PoNum.html}</TD>
     </TR> 
     <TR>          
        <TD><B>{$form.RepName.label}&nbsp;</B></TD>
        <TD>{$form.RepName.html}</TD>
     </TR> 
     <TR>          
        <TD><B>{$form.Phone.label}&nbsp;</B></TD>
        <TD>{$form.Phone.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.Fax.label}&nbsp;</B></TD>
        <TD>{$form.Fax.html}</TD> 
     </TR> 
     <TR>   
        <TD><B>{$form.ShipAddr1.label}&nbsp;</B></TD>
        <TD>{$form.ShipAddr1.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.BillAddr1.label}&nbsp;</B></TD>
        <TD>{$form.BillAddr1.html}</TD>        
     </TR> 
     <TR> 
        <TD><B>{$form.ShipAddr2.label}&nbsp;</B></TD>
        <TD>{$form.ShipAddr2.html}</TD> 
        <TD><B>{$form.BillAddr2.label}&nbsp;</B></TD>
        <TD>{$form.BillAddr2.html}</TD> 
     </TR>   
     <TR> 
        <TD><B>{$form.ShipAddr3.label}&nbsp;</B></TD>
        <TD>{$form.ShipAddr3.html}</TD> 
        <TD><B>{$form.BillAddr3.label}&nbsp;</B></TD>
        <TD>{$form.BillAddr3.html}</TD> 
     </TR>  
     <TR>    
        <TD><B>{$form.ShipCity.label}&nbsp;</B></TD>
        <TD>{$form.ShipCity.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.BillCity.label}&nbsp;</B></TD>
        <TD>{$form.BillCity.html}</TD>
     </TR>  
     <TR>   
        <TD><B>{$form.ShipState.label}&nbsp;</B></TD>
        <TD>{$form.ShipState.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.BillState.label}&nbsp;</B></TD>
        <TD>{$form.BillState.html}</TD>  
     </TR>  
     <TR>  
        <TD><B>{$form.ShipZip.label}&nbsp;</B></TD>
        <TD>{$form.ShipZip.html}</TD> 
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.BillZip.label}&nbsp;</B></TD>
        <TD>{$form.BillZip.html}</TD>  
     </TR>
     <TR>
        <TD><B>{$form.Mileage.label}&nbsp;</B></TD>
        <TD>{$form.Mileage.html}</TD>
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.Rate.label}&nbsp;</B></TD>
        <TD>{$form.Rate.html}</TD> 
     </TR>
     <TR>
        <TD><B>{$form.Truck.label}&nbsp;</B></TD>
        <TD>{$form.Truck.html}</TD> 
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.Freight.label}&nbsp;</B></TD>
        <TD>{$form.Freight.html}</TD>            
     </TR>
     <TR>
        <TD><B>{$form.Material.label}&nbsp;</B></TD>
        <TD>{$form.Material.html}</TD> 
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.Order.label}&nbsp;</B></TD>
        <TD>{$form.Order.html}</TD>            
     </TR>
     <TR>
        <TD><B>{$form.SpInstr.label}&nbsp;</B></TD>
        <TD>{$form.SpInstr.html}</TD> 
        <TD><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               {$form.OrdStat.label}&nbsp;</B></TD>
        <TD>{$form.OrdStat.html}</TD> 
        <TD><B>{$form.ShipStat.label}&nbsp;&nbsp;</B></TD>
        <TD>{$form.ShipStat.html}</TD>    
     </TR>
     <TR> 
	      <TD><B></B></TD>
	   </TR>      
	</TABLE>
	
	<TABLE>
     <TR> 
	      <TD>{$form.run.html}</TD>
	      <TD>{$form.cancel.html}</TD>
	      <TD>{$form.exit.html}</TD>
	   </TR>	
	</TABLE>
              
  </form>
        
   
