  <form method=POST name=fmPlywall id=fmPlywall {$form.attributes}> {$form.hidden}
  <table>
    <tbody>
      <tr>
        <td>
        <h3><b>Hoover Treated Wood Products...<center>{$form.RptName.label}</center></b></h3>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td><b>{$form.OrdNum.label}</b></td>
        <td>{$form.OrdNum.html}</td>
        <td><b>
{$form.OrdDate.label}</b></td>
        <td>{$form.OrdDate.html}</td>
      </tr>
      <tr>
        <td><b>{$form.CustName.label}</b></td>
        <td>{$form.CustName.html}</td>
        <td><b>{$form.ShipDate.label}</b></td>
        <td>{$form.ShipDate.html}</td>
      </tr>
      <tr>
        <td><b>{$form.Company.label}</b></td>
        <td>{$form.Company.html}</td>
        <td><b>{$form.PoNum.label}</b></td>
        <td>{$form.PoNum.html}</td>
      </tr>
      <tr>
        <td><b>{$form.RepName.label}</b></td>
        <td>{$form.RepName.html}</td>
      </tr>
      <tr>
        <td><b>{$form.Phone.label}</b></td>
        <td>{$form.Phone.html}</td>
        <td><b>{$form.Fax.label}</b></td>
        <td>{$form.Fax.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipAddr1.label}</b></td>
        <td>{$form.ShipAddr1.html}</td>
        <td><b>{$form.BillAddr1.label}</b></td>
        <td>{$form.BillAddr1.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipAddr2.label}</b></td>
        <td>{$form.ShipAddr2.html}</td>
        <td><b>{$form.BillAddr2.label}</b></td>
        <td>{$form.BillAddr2.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipAddr3.label}</b></td>
        <td>{$form.ShipAddr3.html}</td>
        <td><b>{$form.BillAddr3.label}</b></td>
        <td>{$form.BillAddr3.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipCity.label}</b></td>
        <td>{$form.ShipCity.html}</td>
        <td><b>{$form.BillCity.label}</b></td>
        <td>{$form.BillCity.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipState.label}</b></td>
        <td>{$form.ShipState.html}</td>
        <td><b>{$form.BillState.label}</b></td>
        <td>{$form.BillState.html}</td>
      </tr>
      <tr>
        <td><b>{$form.ShipZip.label}</b></td>
        <td>{$form.ShipZip.html}</td>
        <td><b>{$form.BillZip.label}</b></td>
        <td>{$form.BillZip.html}</td>
      </tr>
      <tr>
        <td><b>{$form.Mileage.label}</b></td>
        <td>{$form.Mileage.html}</td>
        <td><b>{$form.Rate.label}</b></td>
        <td>{$form.Rate.html}</td>
      </tr>
      <tr>
        <td><b>{$form.Truck.label}</b></td>
        <td>{$form.Truck.html}</td>
        <td><b>{$form.Freight.label}</b></td>
        <td>{$form.Freight.html}</td>
      </tr>
      <tr>
        <td><b>{$form.Material.label}</b></td>
        <td>{$form.Material.html}</td>
        <td><b>{$form.Order.label}</b></td>
        <td>{$form.Order.html}</td>
      </tr>
      <tr>
        <td><b>{$form.SpInstr.label}</b></td>
        <td>{$form.SpInstr.html}</td>

        <td><b>{$form.OrdStat.label}</b></td>
        <td>
<table><tr><td>
           {$form.OrdStat.html}
</td><td>
        <td><b>{$form.ShipStat.label}</b></td>
        <td>{$form.ShipStat.html}</td>
</td></tr></table>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
	      <TD>{$form.run.html}</TD>
	      <TD>{$form.cancel.html}</TD>
	      <TD>{$form.exit.html}</TD>
      </tr>
    </tbody>
  </table>
</form>
