	<SCRIPT LANGUAGE="JavaScript" SRC="/calendar/calendar.js">
  </SCRIPT>
  <form method=POST name=fmMain id=fmMain {$form.attributes}>
  {$form.hidden}
  
  <TABLE>  
     <TR>
        <TD><B><h3>{$form.heading.label}</B></TD>
     </TR>
  </TABLE>
        
  <TABLE> 
     <TR>
        <TD><B>Select Site:</B></TD>
        <TD>
<select name=siteid >
<option value=ALL SELECTED>ALL</option>
<option value=DET >DET</option>
<option value=MIL >MIL</option>
<option value=PB >PB</option>
<option value=THO >THO</option>
<option value=WIN >WIN</option>
</select>        
    </TD>
     </TR> 
     <TR>
        <TD><B>{$form.period.label}</B></TD>     
        <TD>
          {$form.period.html}&nbsp;&nbsp;
            <A HREF='javascript:void(0)'ONCLICK='call_calendar_monthly(document.fmMain.period);'><IMG SRC='/calendar/img/cal.gif' WIDTH='16' HEIGHT='16' BORDER='0' ALIGN='bottom'></A>
          <FONT SIZE='2'>
            &nbsp;Click for a calendar
          </FONT>
  			</TD>
     </TR>
     <TR>
        <TD>
        </TD>
        <TD>
          <FONT SIZE='2'>
        &nbsp;Use (YYYYMM) Format 
          </FONT>
        </TD>
     </TR>
     <TR>
       <TD>
				<B>{$form.txtHours.label}</B>
       </TD>
       <TD>
				{$form.txtHours.html}
       </TD>
     </TR>
	</TABLE>
	<TABLE>
	   <TR>
        <TD>{$form.submit.html}</TD>
        <TD>{$form.cancel.html}</TD>
  	 </TR>
	</TABLE>
	   <TR>
        <TD><br>{$form.message.label}</TD>
  	 </TR>
  </form>
