	<SCRIPT LANGUAGE="JavaScript" SRC="/calendar/calendar.js">
    </SCRIPT>

     <form method=POST name=fmMain id=fmMain {$form.attributes}>
     {$form.hidden}
        <TABLE>  
        <TR> 
        <TD><B>{$form.deltckt.label}</B></TD>
        <TD><B>{$form.deltckt.html}</B></TD>
        </TR>
        <TR> 
        <TD><B>{$form.klnchg.label}</B></TD>
        <TD><B>{$form.klnchg.html}</B></TD>
        </TR>
        <TR>
        <TD><B>{$form.conaddress.label}</B></TD>
        <TD>
        
        {$form.conaddress.html}
        </TD></tr>
        <TR><TD>{$form.viewReport.html}</TD></TR>
	<TR>
	<TD>{$form.run.html}</TD>
	</TR>
	</TABLE>
        </form>
